<main>
  <h2>Saisissez les informations suivantes:</h2>
  <form #valuesForm= "ngForm" (ngSubmit)="onSubmitForm(valuesForm)">
    <label for="lastnameInput">Nom</label>
    <input type="text" id="lastnameInput" name="userLastname" [(ngModel)]="userName" required/>

    <label for="firstnameInput">Prénom</label>
    <input type="text" id="firstnameInput" name="userFirstname" [(ngModel)]="userFirstname" required/>

    <label for="emailInput">Email</label>
    <input type="email" id="emailInput" name="userEmail" [(ngModel)]="userEmail" required/>

    <label for="telephoneInput">Téléphone</label>
    <input type="number" id="telephoneInput" name="userTelephone" [(ngModel)]="userTelephone" required/>

    <label for="passwordInput">Mot de passe</label>
    <input type="password" id="passwordInput" name="userPassword" [(ngModel)]="userPassword" required/>
    <p>Le mot de passe devra comporter au moins 10 caractères
      avec au moins une majuscule, une minuscule, un chiffre,
      un caractère spécial ou un signe de ponctuation</p>

    <h3>Confirmer la saisie de votre mot de passe:</h3>

    <label for="passwordConfirmation">Mot de passe</label>
    <input type="password" id="passwordConfirmation" name="userPasswordConfirmation" [(ngModel)]="userPasswordConfirmation"required/>

    <button type="submit">Créer un compte</button>
  </form>
</main>
