<section>
   <form [formGroup]="registrationForm">
    <h2>Saisissez les informations suivantes:</h2>

    <div class="inputLabel">
      <input type="text" id="lastnameInput" name="lastname" formControlName="lastname"/>
      <div class="label">
        Nom
      </div>
    </div>

     <div class="inputLabel">
      <input type="text" id="firstnameInput" name="firstname" formControlName="firstname"/>
       <div class="label">
         Prénom
       </div>
     </div>

     <div class="inputLabel">
      <input type="email" id="emailInput" name="mail" formControlName="mail"/>
      <div class="label">
        Email
      </div>
      </div>

     <div class="inputLabel">
      <input type="text" id="usernameInput" name="username" formControlName="username"/>
      <div class="label">
        User
      </div>
      </div>

     <div class="inputLabel">
     <input type="password" id="passwordInput" name="password" formControlName="password" />
      <div class="label">
        Mot de passe
      </div>
      <span>Le mot de passe devra comporter au moins 10 caractères avec au moins une majuscule,
        une minuscule, un chiffre, un caractère spécial ou un signe de ponctuation</span>
    </div>

    <h3>Confirmer la saisie de votre mot de passe:</h3>

     <div class="inputLabel">
      <input type="password" id="passwordConfirmation" name="userPasswordConfirmation" formControlName="userPasswordConfirmation" />
      <div class="label">
        Mot de passe
      </div>
     </div>
     <small class="error-text" *ngIf="showPasswordError$ | async ">Les mots de passe ne correspondent pas!</small>
     <div class="buttonSubmit">
       <button type="submit" (click)="onSubmitForm()">Créer un compte</button>
     </div>

     </form>
</section>
