<footer>
  <img src="assets/Logo.png" class="img-logo" alt="Logo des jeux olympiques">
  <div class="footer">
    <div class="actualities">
      <h2>Pour suivre l'actualité des Jeux olympiques 2024</h2>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-x-twitter"></i>
    </div>
    <div class="informations">
      <p>Conditions générales de vente</p>
      <p>Conditions Générales d'Utilisation</p>
      <p>Politiques de confidentialité</p>
      <p>Mentions Légales</p>
      <p>FAQ</p>
    </div>
  </div>

</footer>
