<header>
  <nav>
    <ul>
      <img src="assets/flag.png" class= "img-flag" alt="Drapeau Français"/>
      <li>FR</li>
      <button>
        <i class="fa-solid fa-user"></i>
      </button>
      <li>Se connecter</li>
      <button (click)="onRedirectAccountCreation()">
        <i class="fa-regular fa-user"></i>
      </button>
      <li>S'inscrire</li>
    </ul>
  </nav>
  <div class="header-logo">
    <img src="assets/Logo.png" class="img-logo" alt="Logo des jeux olympiques">
    <h1>
      Billetterie des Jeux Olympiques et Paralympiques<br>
      de Paris 2024
    </h1>
  </div>
</header>
