/*layout footer and icon social network*/

footer{
  color:#ffffff;
  width: 100%;
  background-color: #a03174;
  display: flex;
  flex-direction: row;
  height: 445px;
}
/* div contain logo, title, div with icon social network and div with legal information */
.footer{
  display: flex;
  flex-direction: column;
  width: 68%;
}

/* div with class actualites*/
.actualities{
  background-color:#eb9fed;
  width:100%;
  height: 100px;
}

h2{
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-left: 20px;
  margin-top: 15px;
}

i{
  font-size: 25px;
  color:black;
  margin-right: 20px;
  margin-left: 50px;
  margin-top: 10px;
  padding-bottom: 5px;
}

/*div with class informations*/
.informations{
  height: 375px;
  width: 100%;
}

p{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  padding-top: 20px;
  padding-left: 20px;
}

/*site responsive*/

@media screen and (max-width:1080px){
  footer{
    color:black;
  }
  img{
    width:85%;
  }
  i{
    font-size: 20px;
    color:black;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 10px;
    padding-bottom: 5px;
  }
}
