<header>
  <nav>
    <ul>
      <img src="assets/flag.png" class= "img-flag" alt="Drapeau Français"/>
      <li>FR</li>
      <ng-container *ngIf="(router.url !== '/adminpage')">
      <button (click)="onRedirectConnectionPage()">
        <i class="fa-solid fa-user"></i>
      </button>
      <li>Se connecter</li>
      </ng-container>
      <ng-container *ngIf="router.url.endsWith('/adminpage')">
        <div class="divAdmin">
          <div>
            <button (click)="buttonShowHide()"><i class="fa-solid fa-user"></i></button>
          </div>
          <div class="logIn" *ngIf="showMe">
             <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="buttonLogOut" *ngIf="hideMe">
            <i class="fa-solid fa-chevron-up"></i>
            <button class="logOut">Me Déconnecter</button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="router.url.endsWith('/')">
        <button (click)="onRedirectAccountCreation()">
          <i class="fa-regular fa-user"></i>
        </button>
        <li>S'inscrire</li>
      </ng-container>
      <ng-container *ngIf="(router.url === '/registration' ||
                            router.url === '/activation' ||
                            router.url === '/connection'  ||
                            router.url === '/productpage' ||
                            router.url === '/adminpage' ||
                            router.url === '/offers')">
        <button (click)="onRedirectBackHomePage()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <li>Accueil</li>
      </ng-container>
      <ng-container *ngIf="router.url.includes('/single-offer')">
        <button (click)="onRedirectBackHomePage()">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <li>Accueil</li>
      </ng-container>
    </ul>
  </nav>
  <div class="header-logo">
    <img src="assets/Logo.png" class="img-logo" alt="Logo des jeux olympiques">
    <ng-container *ngIf="(router.url === '/' || router.url === '/productpage' || router.url === '/offers')">
      <h1>
        Billetterie des Jeux Olympiques et Paralympiques<br>
        de Paris 2024
      </h1>
    </ng-container>
    <ng-container *ngIf="router.url.includes('/registration')">
      <h1>
        Inscription<br>
        Jeux Olympiques et<br>
        Paralympiques Paris 2024
      </h1>
    </ng-container>
    <ng-container *ngIf="router.url.includes('/adminpage')">
        <h1 class="titleAdmin">
          Bienvenue sur la page de<br>
          l'administrateur<br>
          Jeux Olympiques et<br>
          Paralympiques Paris 2024
        </h1>
    </ng-container>
    <ng-container *ngIf="router.url.includes('/single-offer')">
      <h1>
        Billetterie des Jeux Olympiques et Paralympiques<br>
        de Paris 2024
      </h1>
    </ng-container>
  </div>
</header>
