/* Layout of Header with navbar and unordered list */

header {
  background-color: #a03174;
  width: 100%;
  height:710px;
  padding-top:0;
}

nav, ul{
  width:100%;
  height:155px;
}

ul{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

li{
  color:#ffffff;
  margin-right: 5%;
}

/* Layout picture of french flag */
.img-flag{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

/*Layout button path page AccountCreation and Connection"*/
button{
  background-color: #a03174;
  border: none;
}

/*icon awesome*/
i{
  font-size: 30px;
  color: white;
  margin-right: 20px;
}

/*layout logo and title website olympic games*/
.header-logo{
  width: 100%;
  height: 78%;
}

.img-logo{
  width: 100%;
  height: 650px;
  position: absolute;
}

h1{
  font-size: 36px;
  font-weight: bold;
  width: 26%;
  position: relative;
  top: 500px;
  margin-left: 50px;
  text-align: center;
}

/*layout special admin page*/
.titleAdmin{
  top:450px;
  text-align: left;
}

.divAdmin{
  display: flex;
  margin-right: 25px;
}

.divAdmin i{
  color: black;
}

.logoutDiv{
  display: flex;
}

.buttonLogOut{
  display: flex;
  flex-direction: column;
}

.logOut{
  background-color: #d9d9d9;
  font-weight:bold;
  padding:10px;
}

