<main>
    <section>
      <div class="card">
        <div class="container container-olympiques">
          <h2>Accèder à tous les évènements<br>
            Les jeux Olympiques
          </h2>
        </div>
          <img src='/assets/images/Jeux Olympiques.png' alt="Jeux Olympiques"/>
      </div>
      <div class="card">
        <div class="container container-paralympiques">
          <h2>Accèder à tous les évènements<br>
            Les jeux Paralympiques
          </h2>
        </div>
        <img src='/assets/images/Jeux Paralympiques.png' alt="Jeux Olympiques"/>
      </div>
      </section>

</main>
