<div class="legalinformation">
  <div>
    <h1>Informations Légales concernant le site internet Billeterie des Jeux Olympiques et Paralypiques 2024</h1>
  </div>
  <div>
    <h2>Conditions Générales de vente</h2>

    <p>Le Comité d’Organisation des Jeux Olympiques et Paralympiques de Paris 2024 (« Paris 2024 ») a établi
      les présentes conditions générales de billetterie (les «Conditions Générales de Billetterie »)
      pour la vente et l’utilisation de Billets pour les Jeux. Les présentes Conditions Générales de
      Billetterie définissent les conditions dans lesquelles toute Personne peut acheter des Billets
      donnant accès aux Sessions des Jeux pour lesquelles un titre d’accès est requis, ainsi que les
      conditions d’utilisation d’un Billet par un Porteur de Billet (tels que ces termes sont ci-après
      définis).</p>

    <p>
      Les présentes Conditions Générales de Billetterie sont applicables à tout Acheteur d’un Billet,
      acquis seul et/ou dans le cadre d’un Pack, sous réserve de toute limitation présente aux Conditions
      Particulières. Les présentes Conditions Générales de Billetterie s’appliquent également à tout
      Porteur de Billet et à tout Acheteur et/ou Porteur de Billet acheté dans le cadre d’un Package
      d’Hospitalité. Dans le cadre des présentes Conditions Générales de Billetterie,
      il est entendu que tout(e) invité(e) est considéré(e) comme un Porteur de Billet.
      Tout Porteur de Billet est tenu de se conformer aux présentes Conditions Générales de Billetterie.
      Les Acheteurs reconnaissent avoir pris connaissance et accepté les présentes Conditions Générales de
      Billetterie préalablement à leur achat de Billet(s) et se portent fort de leur parfait respect
      par toute Personne ayant reçu un Billet par eux acquis, ainsi que de toutes règles applicables
      au sein des Sites dans lesquels se déroulent les Sessions. En cas de contradiction entre les présentes
      Conditions Générales de Billetterie et les Règlements des Sites, les présentes Conditions Générales
      de Billetterie prévaudront.    Paris 2024 se réserve le droit de modifier les Conditions Générales de
      Billetterie à tout moment et sans préavis. Les Conditions Générales de Billetterie applicables sont
      celles acceptées à la date d’achat du/des Billet(s). Tous les Acheteurs acceptent les présentes
      Conditions Générales de Billetterie pour eux-mêmes et au nom de tous Porteurs de Billets que
      l’Acheteur invite (l’Acheteur doit s’assurer que le Porteur de Billet légitime, ou le représentant
      légal ou le tuteur agissant au nom du Porteur de Billet invité, comprend, accepte et se conforme
      aux présentes Conditions Générales de Billetterie).
    </p>
  </div>
  <div>
    <h2>Conditions Générales d'Utilisation</h2>
    <p>Le présent site officiel de la billetterie de Paris 2024 accessible «Billetterie Officielle des Jeux
      de Paris 2024») est le seul et unique canal officiel pour l'achat de billets pour les Jeux Olympiques
      et Paralympiques de Paris 2024, dans les conditions prévues par les Conditions Générales de Vente.
    </p>

    <p>
      Les présentes Conditions Générales d'Utilisation (ci-après « CGU ») ont pour objet de définir
      les conditions, droits, obligations, responsabilités et limites applicables à toutes utilisations
      de la Billetterie Officielle des Jeux de Paris 2024 par tout utilisateur.
      Les CGU forment un contrat juridiquement contraignant opposable à chaque personne qui utilise
      la Billetterie Officielle des Jeux de Paris 2024.
      Paris 2024 permet à chaque utilisateur d’utiliser la Billetterie Officielle des Jeux de Paris 2024,
      sous réserve du respect de l’ensemble des dispositions des présentes CGU.
    </p>

    <p>
      Chaque utilisateur est invité à lire avec la plus grande attention le présent document.
      En accédant à la Billetterie Officielle des Jeux de Paris 2024, chaque utilisateur reconnait avoir lu,
      compris et accepté les présentes CGU.
    </p>

    <p>
      L’utilisateur de la Billetterie Officielle des Jeux de Paris 2024 reconnaît disposer de la compétence
      et des moyens nécessaires pour accéder et utiliser la Billetterie Officielle des Jeux de Paris 2024.
      La participation à l’achat de billets sur la Billetterie Officielle des Jeux de Paris 2024 est
      subordonnée à la création d'un compte, à la fourniture des informations requises et à l'acceptation
      des présentes CGU et des Conditions Générales de Vente.
      L'adresse email et le mot de passe permettent à chaque utilisateur de s'identifier et de se connecter
      à la Billetterie Officielle des Jeux de Paris 2024. Ces Identifiants sont personnels et confidentiels
      et ne peuvent être modifiés que sur demande de leur titulaire ou à l'initiative de Paris 2024.
      Chaque utilisateur est entièrement responsable de l'utilisation de ses Identifiants qu'il s'engage à
      conserver secrets et à ne pas divulguer sous quelque forme que ce soit à des tiers.
      En cas de perte, de vol ou de toute utilisation frauduleuse de ses Identifiants,
      l'utilisateur devra immédiatement en informer Paris 2024. L'utilisateur peut solliciter
      le remplacement de ses Identifiants lorsqu'il existe un risque que ceux-ci soient utilisés par un tiers.
      Chaque utilisateur est en conséquence seul responsable de l'utilisation de la Billetterie Officielle
      des Jeux de Paris 2024 faite avec ses Identifiants. Toute connexion ou transmission de données
      effectuée en utilisant les Identifiants sera réputée avoir été effectuée par l'Utilisateur
      et sous sa responsabilité exclusive. En conséquence Paris 2024 et tout tiers impliqué dans
      la fourniture de la Billetterie Officielle des Jeux de Paris 2024 ne pourront être tenus responsables
      de l'utilisation frauduleuse des Identifiants de l'utilisateur par un tiers.
    </p>
  </div>
  <div>
    <h2>Politiques de confidentialité</h2>
    <p>Le COMITE D'ORGANISATION DES JEUX OLYMPIQUES ET PARALYMPIQUES DE PARIS 2024 s’engage à respecter
      votre vie privée et à veiller à la protection de vos données à caractère personnel lorsque vous
      utilisez les plateformes de billetterie des Jeux Olympiques Paris2024. A ce titre, Paris 2024 s’engage
      à assurer une protection adéquate des données à caractère personnel qu’il pourrait être amené à
      traiter pour la poursuite des finalités décrites ci-apres.
      Cette politique de confidentialité (ci-après la « Politique de confidentialité ») s'applique au
      traitement des données personnelles collectées.
    </p>

    <p>
      Une donnée à caractère personnel telle qu’elle est définie dans la règlementation relative à la
      protection des données (Règlement Général sur la Protection des Données N°2016/679 du 27 avril 2016
      et loi N°78/17 du 6 janvier 1978 modifiée) consiste en toute information permettant de vous identifier
      directement ou indirectement en tant que personne physique.
      La présente Politique de Confidentialité s’applique aux traitements de données à caractère personnel
      réalisés dans le cadre de l’utilisation de de la Plateforme.
    </p>
  </div>
  <div>
    <h2>Mentions Légales</h2>
    <p>
      Le COMITÉ D’ORGANISATION DES JEUX OLYMPIQUES ET PARALYMPIQUES DE PARIS 2024 est une association de
      droit français dont le siège social est situé 93210, Saint-Denis, France.
      Le numéro de TVA individuel de Paris 2024 est le FR 32 963 895 775.<br>
      <br>
      Paris 2024 est notamment chargé de:<br>
      <br>
      • Planifier, organiser, financer et livrer les Jeux Olympiques et Paralympiques de Paris 2024, ainsi que les événements associés.<br>
      • Promouvoir les Jeux Olympiques et Paralympiques de Paris 2024 en France et à l’internationaL;<br>
      • Participer aux actions visant à assurer la durabilité des Jeux Olympiques et Paralympiques de Paris 2024 ;<br>
      • Contribuer à maximiser l’impact positif et l’héritage des Jeux Olympiques et Paralympiques de Paris 2024,<br>
        notamment en faveur de la pratique du sport.
     </p>
    <p>
      <span>Editeur</span> : La Billetterie Officielle des Jeux de Paris 2024 est éditée par Paris 2024
      Siège social de Paris 2024 : 93200 Saint-Denis, France.<br>
      <br>
      <span>Hébergement</span> : L’hébergement de la Billetterie Officielle des Jeux de Paris 2024 est assuré par OVH.
    </p>
  </div>
  <div>
    <h2>FAQ</h2>
    <p>
      Information importante
      Paris 2024 et ses parties prenantes ont récemment été informées de tentatives d’escroquerie à
      destination du grand public. Des personnes/entités se faisant passer pour Paris 2024 prétendent
      distribuer, en collaboration avec le Comité National Olympique et Sportif Français,
      des billets gratuits pour la Cérémonie d’ouverture des Jeux Paralympiques de Paris 2024,
      en contrepartie du paiement de frais de port. Nous vous rappelons que PARIS 2024
      n'émet aucun billet papier pour les sessions des Jeux Olympiques et Paralympiques de Paris 2024.
      Nous vous recommandons de faire preuve de la plus grande vigilance et de ne pas partager
      vos données personnelles et/ou bancaires si vous avez le moindre doute sur l'expéditeur d'un e-mail.

    </p>
    <div class="needHelp">
      <p>En cas de doute sur l'authenticité d'une communication adressée par Paris 2024 en lien avec la
      billetterie des Jeux, nous vous invitons à contacter l'équipe de PARIS 2024 via l’adresse suivante:</p>
      <span>faq&#64;paris2024.org</span>
    </div>
  </div>


  <div>
    <a routerLink="/" routerLinkActive="active">Retourner à la page d'accueil</a>
  </div>
</div>
