<main>
  <section class="introduction">
    <p>
      En 2024, le monde entier aura les yeux braqués sur Paris, qui accueillera les Jeux de la XXXIIIe Olympiade. L’occasion de revenir sur ce qui fait l'histoire des Jeux.
    </p>
    <p>
      UN SIÈCLE DE SYMBOLES ET DE VALEURS UNIVERSELLES<br>
      qui ont marqué l'histoire du sport et de l’humanité depuis 1896 jusqu'à aujourd'hui.
    </p>
    <p>
      LUDWIG GUTTMANN<br>
      Il organise les Jeux de Stoke Mandeville le 28 Juillet 1948, la veille des Jeux olympiques d'été de Londres 1948.
      Il est ainsi considéré comme le créateur des Jeux Paralympiques.
    </p>
  </section>
  <section class="card">
    <div class="cardSection" id="first">
      <div class="title">
        <h2>Haltérophilie <i class="fa-solid fa-dumbbell"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Vendredi 30/08/2024 | 10:00 à 11:30| Paris | Arena </p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cardSection" id="second">
      <div class="title">
        <h2>Para Haltérophilie <i class="fa-solid fa-dumbbell"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Mercredi 04/09/2024 | 12:00 à 15:00| Paris | Arena</p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cardSection">
      <div class="title">
        <h2>Basket <i class="fa-solid fa-basketball"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Samedi 27/07/2024 | 21:00 à 22:45| Lille | Stade Pierre Mauroy</p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cardSection">
      <div class="title">
        <h2>Basket fauteuil <i class="fa-solid fa-basketball"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Jeudi 20/08/2024 | 10:30 à 15:15| Lille | Stade Pierre Mauroy</p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cardSection">
      <div class="title">
        <h2>Natation <i class="fa-solid fa-person-swimming"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Samedi 27/07/2024 | 11:00 à 13:15| Nanterre | Paris La Défense Arena</p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="cardSection">
      <div class="title">
        <h2>Para Natation <i class="fa-solid fa-person-swimming"></i></h2>
        <p class="firstParagraph">Profitez des offres solo, duo et familiale qui donnent accès à 1, 2 et 4 personnes.</p>
        <p class="secondParagraph">Jeudi 29/08/2024 | 09:30 à 12:30| Nanterre | Paris La Défense Arena</p>
      </div>
      <div class="button">
        <button (click)="onClick()">
          Billets + Offres <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </section>
</main>

