<section>
  <div class="title">
    <h2>Visualiser les offres en cours:</h2>
  </div>
  <div class="offers" *ngFor="let offer of offer$ | async">
    <div class="single-offer">
      <h3>{{offer.name | titlecase }} :</h3>
      <p id="offerDescription">{{offer.description }}</p>
      <p>Prix: {{offer.price}}€</p>
      <p>Nombre billets: {{offer.quantity}}</p>
    </div>
    <div class="checkbox">
      <input type="checkbox" name="checkbox"/>
    </div>
  </div>
  <div class="buttons">
    <button type="submit" (click)="addNewOffer()"> Créer</button>
    <button type="submit">Modifier</button>
    <button type="submit">Supprimer</button>
  </div>
    <button (click)="viewSales()" id="buttonLink">Visualiser les ventes</button>
</section>
