section{
  height:1300px;
  width: 100%;
  margin-top: 3rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Layout of presentation offers card */
.presentationOffers {
  height: 350px;
  width: 90%;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top:2rem;
  margin-bottom: 3rem;
}

h2{
  font-size: 30px;
  font-weight: bold;
  padding:1rem 0 1rem 1rem;
}

.paragraphPresentation{
  font-size: 26px;
  padding-left:1rem;
}

ul{
  list-style-type: none;
  font-weight: bold;
  font-size: 22px;
  margin: 1rem 0 1rem 0;
  text-align: center;
}

li{
  padding:1rem;
}

.liFamilial{
  padding-left:4rem;
}

/*Layout of offers card */
.offers{
  height: 200px ;
  width:90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-top: 2rem;
  font-size: 24px;
  padding: 1rem;
}

.offerSingle{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Layout of offers title, paragraph and button*/
h3{
  width:15%;
}

#offerDescription{
  display: block;
  flex-wrap: wrap;
  width:15%;
}

.sale{
  margin-right: 3rem;
  margin-top: 1rem;
  display:flex
}

#buttonSubmit{
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  margin-left:1rem
}

@media screen and (max-width:1080px){

  h2{
    font-size: 26px;
  }
  .paragraphPresentation{
    font-size: 20px;
  }
  ul{
    font-size: 20px;
  }
  .offers{
    font-size:16px;

  }
  h3{
    width:20%;
    font-weight: normal;
  }
  #offerDescription{
    display: none;
  }
}



