<section>
  <div class="cardOffers">
    <h2>Visualiser les offres en cours:</h2>
    <div>
      <h3></h3>
      <p></p>
      <p></p>
      <input type="checkbox" name="checkbox">
    </div>
    <div>
      <h3></h3>
      <p></p>
      <p></p>
      <input type="checkbox" name="checkbox">
    </div>
    <div>
      <h3></h3>
      <p></p>
      <p></p>
      <input type="checkbox" name="checkbox">
    </div>
    <div>
      <button type="submit"> Créer</button>
      <button type="submit">Modifier</button>
      <button type="submit">Supprimer</button>
    </div>
  </div>
  <div class="cardSale">
    <h2>Nombre de vente par offre au {{date | date:'d MMMM YYYY' }} :</h2>
    <div class="divOffers">
      <p class="paragraphSale">Offre solo:</p>
      <p class="paragraphSale"></p>
    </div>
     <div class="divOffers">
        <p class="paragraphSale">Offre duo:</p>
       <p class="paragraphSale"></p>
     </div>
     <div class="divOffers">
        <p class="paragraphSale paragraphSaleFamilial">Offre familiale:</p>
       <p class="paragraphSale"></p>
     </div>
  </div>
</section>
